:root{
    background-color: rgb(219, 215, 215);
}

h1{
    text-align: center;
    color: rgb(95, 84, 63);
}
button{
    
    background-color: rgb(104, 83, 38);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    width: 70px;
    height: 50px;
    border-style: none;
  

}
.Barra{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
    
}
button:hover{
    background-color: rgb(201, 150, 121);
    scale: 1.2;
}

img{
    width: 150px;
    height: 150px;
    
}

#Menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 100px;
    margin-right: 100px;
}

.flex{
    width: 50%;
}
h2{
margin-left: 210px;
margin-top: -147px;

}
h4{
    margin-left: 210px;
    margin-top: 89px;
}
p{
    margin-left: 210px;
    
}

@media (max-width: 640px){
    h1{
        text-align: center;
        color: rgb(95, 84, 63);
    }
    button{
        
        background-color: rgb(104, 83, 38);
        color: aliceblue;
        padding: 10px;
        border-radius: 10px;
        width: 70px;
        height: 50px;
        border-style: none;
      
    
    }
    .Barra{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-evenly;
        margin-bottom: 40px;
        
    }
    button:hover{
        background-color: rgb(201, 150, 121);
    }
    
    img{
        width: 150px;
        height: 150px;
        
    }
    
    #Menu{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-left: -333px;
        margin-right: 50px;
    }
    
    .flex{
        width: 50%;
    }
    h2{
    margin-left: 210px;
    margin-top: -147px;
    
    }
    h4{
        margin-left: 210px;
        margin-top: 8px;
    }
    p{
        margin-left: 210px;
        
    }

}